* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    background-color: #cbe9ff;
    min-height: 100vh;
    border: 10px solid #d3850f;
  }
  .content {
    max-width: 1000px;
    margin: 0 auto;
  }
  .topsection {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .topsection h1 {
    font-size: 50px;
    font-weight: bold;
    color: #050777;
    text-transform: uppercase;
  }
  .topsection h4 {
    font-size: 30px;
    text-align: end;
  }
  
  .imagecontainer {
    border-radius: 50%;
    overflow: hidden;
  }
  
  .imagecontainer,
  img {
    width: 300px;
    height: 320px;
  }
  .about {
    margin-top: 50px;
  }
  .about h2 {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .about p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
  }
  .biography {
    margin: 50px 0;
  }
  .biography h3 {
    margin-bottom: 20px;
  }
  .biography ul {
    margin-left: 50px;
  }
  .biography li {
    margin-bottom: 15px;
  }
  .awards {
    margin: 50px 0;
  }
  .awards h3 {
    margin-bottom: 20px;
  }
  .awards ul {
    margin-left: 50px;
  }
  .awards li {
    margin-bottom: 15px;
  }
  
  footer {
    margin: 50px 0;
  }
  footer p {
    text-align: end;
  }
  
   